.index{
    /*height:12.06rem;*/
    z-index:100;
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.2rem;
    background: #f0f0f0;
}

.index p{
    width: 98%;
    font-size: .34rem;
    color: #666;
    text-align: center;
    position: fixed;
    top:50%;
    left: 50%;
    -ms-transform:translate(-50%,-50%);
    -o-tranform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.index li{
    font-size: 0.34rem;
    margin-bottom:0.4rem;
}
.index li.title{
    text-align: center;
    font-size: .4rem;
}
.index li.title-nav{
    text-align: left;
}
.index li img{
    display: block;
    width:100%;
    height:auto;
    margin: 0 auto;
}
.index li.explain{
    color: #fa4056;
    text-align: center;
}